.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #214252;
}

h1 {
  margin: 30px;
  font-family: sans-serif;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #fff;
}

p {
  font-size: 2rem;
  color: #fff;
  font-family: sans-serif;
}

img {
  width: 80%;
}

.footer {
  margin-top: 10%;
  color: #EEEEEE;
  text-align: center;
  font-family: sans-serif;
  font-size: 1em;

}
